<!-- templates/article_list.html -->
{% extends 'todo/base.html' %}
{% block title %}Categories{% endblock title %}
{% block main %}
    <h2 class="title-color">Categories</h2>
    <div class="mt-5">
        <div class="container">
            <div class="row  justify-content-center">
                <div class="col-12 col-md-7">
                    <div class="card" style="background: #f5efef;">
                        <div class="card-body">
                            {#                            {% for category in all_category_list %}#}
                            {#                                <div class=" row">#}
                            {#                                    <div class="card-header">#}
                            {#                                        <span class="font-weight-bold "><a#}
                            {#                                                href="{{ category.get_absolute_url }}">{{ category.id }}- {{ category.title }}</a></span>#}
                            {#                                    </div>#}
                            {#                                </div>#}
                            {#                                <br/>#}
                            {#                            {% endfor %}#}
                            <h3>Taskless categories:</h3>
                            {% for category in notnull_of_task %}
                                <div class=" row">
                                    <div class="card-header">
                                        <span class="font-weight-bold "><a
                                                href="{{ category.get_absolute_url }}">{{ category }}</a></span>
                                    </div>
                                </div>
                                <br/>
                            {% endfor %}
                            <h3>Categories include tasks:</h3>
                            {% for category in null_of_task %}
                                <div class=" row">
                                    <div class="card-header">
                                        <span class="font-weight-bold "><a
                                                href="{{ category.get_absolute_url }}">{{ category }}</a></span>
                                    </div>
                                </div>
                                <br/>
                            {% endfor %}


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock main %}
