{% extends 'todo/base.html' %}
{% block title %}Category Detail{% endblock title %}
{% block main %}
    <div class="mt-5">
        <div class="container">
            <div class="row  justify-content-center">
                <div class="col-12 col-md-7">
                    <div class="card" style="background: #f5efef;">
                        <div class="card-body">
                            <div class="container">
                                <div class="article-entry">
                                    <h3>{{ object.title|title }}:</h3>
                                    {% if object.task_set.all %}
                                        {% for obj in object.task_set.all %}
                                            <span class=" card card-body"><h6 style="color: #3CB371">Title:</h6><h6>&ensp;&ensp;&ensp;{{ obj.title }}</h6><h6 style="color: #3CB371">Description:</h6><h6>&ensp;&ensp;&ensp;{{ obj.description }}</h6></span><br>
                                        {% endfor %}
                                    {% else %}
                                        <p>No Task </p>
                                    {% endif %}
                                </div>
                                <p>Back to <a class="btn btn-primary todo-application" href="{% url 'catlist' %}">All
                                    Category</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}

