<!-- templates/article_list.html -->
{% extends 'todo/base.html' %}
{% block title %}Tasks{% endblock title %}
{% block main %}
    <h2 class="title-color">Tasks ordered by Deadline</h2>
    <div class="mt-5">
        <div class="container">
            <div class="row  justify-content-center">
                <div class="col-12 col-md-7">
                    <div class="card" style="background: #f5efef;">
                        <div class="card-body">
                            <div class="container">
                                <h3>Expired tasks:</h3>
                            {% for task in ex_tasks %}
                                <div class=" row">
                                    <div class="card-header">
                                        <span class="font-weight-bold "><a
                                                href="{{ task.get_absolute_url }}">{{ task.title |title}}</a></span>
                                    </div>
                                </div>
                                <br/>
                            {% endfor %}
                            <h3>Not expired tasks:</h3>
                            {% for task in not_ex_tasks %}
                                <div class=" row">
                                    <div class="card-header">
                                        <span class="font-weight-bold "><a
                                                href="{{ task.get_absolute_url }}">{{ task.title |title}}</a></span>
                                    </div>
                                </div>
                                <br/>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}
