<!-- templates/article_list.html -->
{% extends 'todo/base.html' %}
{% block title %}Tasks{% endblock title %}
{% block main %}
    {% for task in object_list %}
        <div class="col-3 row ">
            <div class="card-header">
                <span class="font-weight-bold "><a href="{{ task.get_absolute_url }}">{{ task.id }}- {{ task.title }}</a></span>
            </div>
{#            <div class="card-footer text-center text-muted">#}
{#                <a href="{% url 'article_edit' article.pk %}">Edit</a> |#}
{#                <a href="{% url 'article_delete' article.pk %}">Delete</a>#}
{#            </div>#}
        </div>
        <br/>
    {% endfor %}
{% endblock main %}
